:root {
    --main-bg-color: #1D1F28;
    --main-fg-color: #282A36;
    --main-txt-color: #FDFDFD;
    --txt-color-0: #B043D1;
    --txt-color-1: #18E3C8;
    --txt-color-2: #FF4971;
    --txt-color-3: #FF8037;
    --txt-color-4: #B043D1;
    --txt-color-5: #3FDCEE;
}

/*General*/

body {
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    margin: 0px 50px;
    max-width: 2000px;
}

button:hover {
    color: var(--txt-color-1)
}

.gridMain {
    margin-top: 20rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35rem;
}

/*END General*/

/*Main Layout*/

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0px;
}

#logout {
    text-align: right;
}

#logout button:hover {
    color: var(--txt-color-1)
}

#title {
    text-align: left;
}

#email {
    text-align: center;
}

.gridLogs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8rem;
    height: fit-content;
    /*grid-template-rows: 200px;*/
}

.logEntry {
    background-color: var(--main-fg-color);
    padding: 10px 20px;
    border-radius: 3px;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.logEntryInfo {
    display: table-cell;
    width: 85%;
    border-right: 2px solid var(--main-bg-color);
    margin: 50px;
    overflow: hidden;
}

.logEntryAdd {
    display: table-cell;
    width: 15%;
    vertical-align: middle;
    text-align: center;
    padding-left: 12rem;
    overflow: hidden;
    font-size: 13rem;
    cursor: pointer;
}

.logEntryAdd button {
    font-size: 50rem;
    margin-bottom: -15px;
    cursor: pointer;
}

.logEntryTitle {
    margin-bottom: 3rem;
}

.addEntryButton {
    outline: none;
}

.viewButton {
    margin-right: 15rem;
}

/*END Main Layout*/

/*Login Form*/

#loginLine {
    margin-bottom: 15rem;
}

#loginButton {
    border: 1px solid var(--main-txt-color);
    background: none;
    color: var(--main-txt-color);
    padding: 2rem 10rem;
    cursor: pointer;
}

#loginButton:hover {
    border: 1px solid var(--main-txt-color);
    background: var(--main-txt-color);
    color: var(--main-bg-color);
    padding: 2rem 10rem;
}

.loginForm {
    margin: 50rem auto;
}

.form-control {
    margin-bottom: 10px;
    position: relative;
}

.form-checkbox {
    margin-bottom: 10px;
    background: none;
}

.form-checkbox label {
    margin-left: 8px;
    margin-bottom: 50px;
}

.form-control input {
    border: 0;
    border-radius: 2px;
    display: block;
    width: 200rem;
    padding: 7px;
    font-size: 14px;
}

.form-control input:focus {
    outline: 0;
}

#errorButton {
    margin-right: 5rem;
}

/*END Login Form*/

/*LogEntry*/

.chartContainer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 300px;
}

/*END LogEntry*/

@media only screen and (max-width: 900px) {
    body {
        margin: 0px 20px;
    }
    .gridMain {
        grid-template-columns: repeat(1, 1fr);
    }
}